@import 'antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-select-selector {
  height:100% !important;
  color: white !important;
  background-color: #1a2636 !important;
  border: 1px solid #2b3c52 !important;
  align-items: center;
}
.ant-card-head-title {
  color: #58c978 !important;
}
.ant-select-selector > .ant-select-arrow {
  color: white !important;
} 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
